{% extends "_layout" %}
{% include '_partials/metas.html' %}
{% block content %}


<div class="product_hero">
<div class="products_description">
  	<div class="container">
      <p>Fusce rutrum, risus eu pellentesque vestibulum, eros felis eleifend nulla, nec blandit ante mi vel augue. 
      Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
      Pellentesque metus nisi, rhoncus a ante et, aliquet suscipit urna.</p>
    </div>
</div>
</div>


{% include '_partials/pagehero.html' with {'className': 'whowearepage'} %}

{% endblock %}
